{%  extends  'base.html'  %}

{% block path %}
<h1>
    Data Table
    <small>advanced tables</small>
</h1>
<ol class="breadcrumb">
    <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">DiskInfo tables</li>
</ol>
{% endblock %}

{%  block  content  %}
{% verbatim %}
<div class="row" id="app">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">机房表</h3>
            </div>
            <!--  /.box-header  -->
            <div class="box-body">
                <div id="example2_wrapper" class="dataTables_wrapper  form-inline  dt-bootstrap">
                    <div class="row">
                        <div class="col-md-12">
                            <table id="example2" class="table  table-bordered  table-hover  dataTable" role="grid"
                                aria-describedby="example2_info">
                                <thead>
                                    <tr role="row">
                                        <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1"
                                            colspan="1" aria-label="CSS  grade:  activate  to  sort  column  ascending">
                                            ID</th>
                                        <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1"
                                            colspan="1" aria-sort="ascending"
                                            aria-label="Rendering  engine:  activate  to  sort  column  descending">
                                            名字</th>
                                        <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1"
                                            colspan="1" aria-label="Browser:  activate  to  sort  column  ascending">
                                            城市</th>
                                        <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1"
                                            colspan="1" aria-label="Browser:  activate  to  sort  column  ascending">
                                            地址</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    <tr v-for="item in idcs.results" :key="" role="row" class="odd">
                                        <td>{{ item.id }}</td>
                                        <td>{{ item.name }}</td>
                                        <td>{{ item.city }}</td>
                                        <td>{{ item.address }}</td>
                                    </tr>

                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th rowspan="1" colspan="1">ID</th>
                                        <th rowspan="1" colspan="1">名字</th>
                                        <th rowspan="1" colspan="1">城市</th>
                                        <th rowspan="1" colspan="1">地址</th>

                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-5">
                            <h3 class="dataTables_info">
                                总计{{ idcs.count }}条数据！
                            </h3>
                        </div>
                        <div class="col-sm-7">
                            <div class="dataTables_paginate paging_simple_numbers" id="example2_paginate">
                                <ul class="pagination">
                                    <li class="paginate_button previous " id="example2_previous">
                                        <a href="#" @click="getUrl(idcs.links.previous_url)">Previous</a>
                                    </li>
                                    <li v-for="item in idcs.links.page_links " class="paginate_button "
                                        v-bind:class="{ active : item[2] }">
                                        <a href="#" v-if="! item[3]" @click="getUrl(item[0])">{{ item[1] }}</a>
                                        <a href="#" v-else>...</a>
                                    </li>
                                    <li class="paginate_button next" id="example2_next">
                                        <a href="#" @click="getUrl(idcs.links.next_url)">Next</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endverbatim %}
{% endblock %}

{% block script %}
<script>
    var app = new Vue({
        el: "#app",
        data: {
            idcs: [],
        },
        mounted() {
            axios.get(
                'http://127.0.0.1:8000/cmdb/idc/',
            ).then(
                res => {
                    this.idcs = res.data;
                });
        },
        methods: {
            getUrl: function (url) {
                axios.g
                et(
                    url,
                ).then(
                    ress => {
                        this.idcs = ress.data;
                    });
            }
        }
    })
</script>
{% endblock %}