<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description>test ad-hoc</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.plugins.jira.JiraProjectProperty plugin="jira@3.0.10"/>
    <com.dabsquared.gitlabjenkins.connection.GitLabConnectionProperty plugin="gitlab-plugin@1.5.13">
      <gitLabConnection></gitLabConnection>
    </com.dabsquared.gitlabjenkins.connection.GitLabConnectionProperty>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.31">
      <autoRebuild>false</autoRebuild>
      <rebuildDisabled>false</rebuildDisabled>
    </com.sonyericsson.rebuild.RebuildSettings>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <org.jenkinsci.plugins.ansible.AnsibleAdHocCommandBuilder plugin="ansible@1.0">
      <ansibleName>ansible</ansibleName>
      <credentialsId></credentialsId>
      <vaultCredentialsId></vaultCredentialsId>
      <hostPattern>all</hostPattern>
      <inventory class="org.jenkinsci.plugins.ansible.InventoryPath">
        <path></path>
      </inventory>
      <module>debug</module>
      <command>msg=&quot;{{name}}&quot;</command>
      <become>false</become>
      <becomeUser></becomeUser>
      <sudo>false</sudo>
      <sudoUser></sudoUser>
      <forks>5</forks>
      <unbufferedOutput>true</unbufferedOutput>
      <colorizedOutput>false</colorizedOutput>
      <disableHostKeyChecking>false</disableHostKeyChecking>
      <additionalParameters></additionalParameters>
      <extraVars>
        <org.jenkinsci.plugins.ansible.ExtraVar>
          <key>name</key>
          <value>king</value>
          <hidden>false</hidden>
        </org.jenkinsci.plugins.ansible.ExtraVar>
      </extraVars>
    </org.jenkinsci.plugins.ansible.AnsibleAdHocCommandBuilder>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>